<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%level]\t%d{HH:mm:ss.SSS} %logger - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="io.grpc" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="io.netty" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- https://www.testcontainers.org/supported_docker_environment/logging_config/ -->
        <Logger name="org.testcontainers" level="warn" />
        <Logger name="com.github.dockerjava" level="warn"/>
        <Logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="off"/>

        <Logger name="org.apache.hadoop" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.apache.spark" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.sparkproject" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="tech.ydb" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="tech.ydb.spark" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="debug" >
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
